.home-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Hauteur de la fenêtre */
  }
  
  .content-container {
    background-color: #E1E1E1; /* Gris foncé semi-transparent */
    text-align: center;
    position: absolute;
    top: 50%; /* Positionne le haut du conteneur au milieu de son parent */
    left: 0;
    width: 100%;
    transform: translateY(-100%); /* Décale le conteneur vers le haut de moitié de sa propre hauteur */
    z-index: 1; /* Assure que le contenu est devant le slider */
  }
  
  .content {
    color: black; /* Texte noir */
  }