header {
  background-image: url('../../assets/image_de_fond.webp'); // Remplacez 'image_de_fond.jpg' par le chemin relatif de votre image
  background-size: cover;
  background-position: center;
  height: 200px; // Ajustez la hauteur selon vos besoins
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; // Couleur du texte
  text-align: center;

  // Autres styles pour votre en-tête

  // Styles pour la'en-tête
  nav {
    ul {
      list-style: none; // Supprimer les puces des listes non ordonnées
      display: flex; // Aligner les éléments de la liste en ligne
      padding: 0; // Supprimer le padding par défaut de la liste
      margin: 0; // Supprimer la marge par défaut de la liste
    }

    li {
      margin: 0 10px; // Ajouter une marge entre chaque élément de la liste
    }
  }

  a {
    color: white; // Couleur du texte des liens
    text-decoration: none; // Supprimer le soulignement par défaut
    transition: all 0.3s ease; // Transition fluide de 0.3 seconde
    font-size: 22px; // Taille de police par défaut pour les liens
  }

  a:hover {
    font-size: 28px; // Augmentez la taille de police au survol
    font-weight: bold; // Mettez en gras au survol
  }
}

