.header {
  display: flex; /* Utilisez la flexbox pour aligner les éléments horizontalement */
  align-items: center; /* Alignez les éléments verticalement au centre */
  justify-content: space-between; /* Alignez les éléments à l'extrême gauche et à l'extrême droite */
  background-color:#E1E1E1;
}

.logo {
  max-height: 16vh; /* Ajustez la taille maximale du logo selon vos préférences */
  margin: -20px 0px -50px 25%;
}

.ownerName{
  font-size: 18px;
  margin-top: 0px;
  margin-left: 10px;
}

nav ul {
  list-style: none; /* Supprimez les puces de la liste */
  display: flex; /* Alignez les éléments de la liste en ligne */
  margin: 0 25px 0px 0px; /* Supprimez la marge par défaut de la liste */
  padding: 0; /* Supprimez le padding par défaut de la liste */
}

nav ul li {
  margin-left: 10px; /* Ajoutez une marge à gauche entre chaque élément de la liste */
}

nav ul li:first-child {
  margin-left: 0; /* Supprimez la marge à gauche du premier élément de la liste */
}

nav ul li:last-child {
  margin-right: 0; /* Supprimez la marge à droite du dernier élément de la liste */
}

nav a {
  color: inherit; /* Utilisez la couleur par défaut du texte */
  text-decoration: none; /* Supprimez le soulignement */
  font-size: 20px; /* Taille de la police */
  transition: all 0.2s ease; /* Transition plus fluide */

  @media (max-width: 800px) {
    font-size: 16px;
  }

  @media (max-width: 400px) {
    font-size: 16px;
  }

}

nav a:hover {
  font-weight: bold; /* Passage en gras au survol */
}

@media (max-width: 800px){
  .header{
    flex-direction: column;
  }
}