.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}
.placements{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}
.placeLangage{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.placeCollapse{
    width: 50%;
}
.arrow-list {
    list-style-type: none; /* Supprime les puces de la liste */
    padding-left: 0; /* Supprime le padding par défaut */
  }
  .arrow-list li svg {
    color: grey;
    font-size: 24px;
    vertical-align: middle; /* Ajuste la position verticale */
  }
